server {
        listen 80;
        listen [::]:80;
        root /var/www/html/{{ wordpress_domain }};
        index  index.php index.html index.htm;
        server_name {{ wordpress_domain }} www.{{ wordpress_domain }};

        error_log /var/log/nginx/{{ wordpress_domain }}_error.log;
        access_log /var/log/nginx/{{ wordpress_domain }}_access.log;
        
        client_max_body_size 100M;
        location / {
                try_files $uri $uri/ /index.php?$args;
        }
        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass unix:/run/php/php7.4-fpm.sock;
                fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
}
